html {
    scroll-behavior: smooth;
  }

  ::-webkit-scrollbar {
    width: 5px;
  }

  ::-webkit-scrollbar-track {
    background-color: black;
  }

  ::-webkit-scrollbar-thumb {
    background-color: hsl(38, 61%, 73%);
  }
  
.preload {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: hsl(38, 61%, 73%);
    z-index: 10;
    display: grid;
    place-content: center;
    justify-items: center;
    transition: 500ms ease;
  }

  .preload>* {
    transition: 250ms ease;
  }

  .preload.loaded>* {
    opacity: 0;
  }

  .preload.loaded {
    transition-delay: 250ms;
    transform: translateY(100%);
  }

  .circle {
    width: 112px;
    height: 112px;
    border-radius: 50%;
    border: 3px solid hsla(0, 0%, 100%, 1);
    border-block-start-color: hsla(0, 3%, 7%, 1);
    margin-block-end: 45px;
    animation: rotate360 1s linear infinite;
  }

  @keyframes rotate360 {
    0% {
      transform: rotate(0);
    }

    100% {
      transform: rotate(1turn);
    }
  }

  .preload .text {
    background-image: linear-gradient(90deg, transparent 0% 16.66%, hsla(0, 3%, 7%, 1) 33.33% 50%,  transparent 66.66% 75%);
    background-size: 500%;
    font-size: calc(2rem + 3vw);
    font-weight: 700;
    line-height: 1em;
    text-transform: uppercase;
    letter-spacing: 16px;
    padding-inline-start: 16px;
    -webkit-text-fill-color: rgba(0, 0, 0, 0.67);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-stroke: 0.5px hsla(180, 2%, 8%, 1);
    animation: loadingText linear 2s infinite;
  }

  @keyframes loadingText {
    0% {
      background-position: 100%;
    }

    100% {
      background-position: 0%;
    }
  }

